<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<title>HOME</title>
	
</head>

<body>
	<div layout:fragment="content">
		<h1 style="text-transform: uppercase" sec:authorize="isAuthenticated()" class="text-dark">WELCOME AGAIN
		<span sec:authentication="name" />
		</h1>
		<h1 sec:authorize="isAnonymous()" class="text-dark">WELCOME TO OUR APPLICATION</h1>
	</div>
</body>

</html>